{{- if and (eq .chezmoi.os "linux") (eq .profile "dev-shell") -}}
# ~/.bash_profile - let the POSIX profile decide whether to hand SSH to zsh.
[ -r "$HOME/.profile" ] && . "$HOME/.profile"
{{- end }}
