{
  "defaultThinkingLevel": "high",
  "theme": "catppuccin-mocha",
  "editorPaddingX": 1,
  "collapseChangelog": true,
  "npmCommand": [
    "mise",
    "exec",
    "node@latest",
    "--",
    "npm"
  ],
  "extensions": [
    "~/.pi/agent/extensions/pi-cockpit/src/index.ts"
  ],
  "skills": [
    "~/.pi/agent/skills",
    "~/Projects/AI/Skills"
  ],
  "lastChangelogVersion": "0.75.3",
  "packages": [
{{- if eq .profile "personal" }}
    "npm:pi-web-access",
    "npm:pi-cymbal",
    "npm:pi-lsp",
    "npm:glimpseui",
    "git:github.com/Michaelliv/pi-generative-ui",
    "npm:@tintinweb/pi-subagents",
    "npm:pi-observational-memory",
    "npm:@mario-gc/pi-context7",
{{- end }}
{{- if eq .profile "work" }}
    "npm:pi-cursor-sdk",
{{- end }}
    "npm:pi-rtk-optimizer"
  ],
{{- if eq .profile "work" }}
  "defaultProvider": "cursor",
  "defaultModel": "gemini-3.1-pro",
{{- else }}
  "defaultProvider": "opencode-go",
  "defaultModel": "kimi-k2.6",
{{- end }}
  "hideThinkingBlock": false,
  "quietStartup": true,
  "terminal": {
    "showTerminalProgress": true
  }
}
