{
  "trustedtaps": [
    "1broseidon/tap",
    "1password/tap",
{{ if eq .profile "work" }}
    "atlassian/acli",
{{ end }}
    "jorgelbg/tap",
    "olets/tap"{{ if ne .profile "dev-shell" }},
    "rafaelgarrido/caveats",
    "mostlygeek/llama-swap"
{{- else }},
    "rafaelgarrido/caveats"
{{- end }}
  ]
}
