{{- $p := index .theme.palettes .theme.active -}}
{
  "document": {
    "block_prefix": "\n",
    "block_suffix": "\n",
    "color": "#{{ $p.text }}",
    "margin": 2
  },
  "block_quote": {
    "indent": 1,
    "indent_token": "│ "
  },
  "paragraph": {},
  "list": {
    "level_indent": 2
  },
  "heading": {
    "block_suffix": "\n",
    "color": "#{{ $p.text }}",
    "bold": true
  },
  "h1": {
    "prefix": "▓▓▓ ",
    "suffix": " ",
    "color": "#{{ $p.red }}",
    "bold": true
  },
  "h2": {
    "prefix": "▓▓▓▓ ",
    "color": "#{{ $p.peach }}"
  },
  "h3": {
    "prefix": "▓▓▓▓▓ ",
    "color": "#{{ $p.yellow }}"
  },
  "h4": {
    "prefix": "▓▓▓▓▓▓ ",
    "color": "#{{ $p.green }}"
  },
  "h5": {
    "prefix": "▓▓▓▓▓▓▓ ",
    "color": "#{{ $p.sapphire }}"
  },
  "h6": {
    "prefix": "▓▓▓▓▓▓▓▓ ",
    "color": "#{{ $p.lavender }}"
  },
  "text": {},
  "strikethrough": {
    "crossed_out": true
  },
  "emph": {
    "italic": true
  },
  "strong": {
    "bold": true
  },
  "hr": {
    "color": "#{{ $p.overlay0 }}",
    "format": "\n--------\n"
  },
  "item": {
    "block_prefix": "• "
  },
  "enumeration": {
    "block_prefix": ". "
  },
  "task": {
    "ticked": "[✓] ",
    "unticked": "[ ] "
  },
  "link": {
    "color": "#{{ $p.blue }}",
    "underline": true
  },
  "link_text": {
    "color": "#{{ $p.lavender }}",
    "bold": true
  },
  "image": {
    "color": "#{{ $p.blue }}",
    "underline": true
  },
  "image_text": {
    "color": "#{{ $p.lavender }}",
    "format": "Image: {{ "{{.text}}" }} →"
  },
  "code": {
    "prefix": " ",
    "suffix": " ",
    "color": "#{{ $p.maroon }}",
    "background_color": "#{{ $p.mantle }}"
  },
  "code_block": {
    "color": "#{{ $p.mantle }}",
    "margin": 2,
    "chroma": {
      "text": {
        "color": "#{{ $p.text }}"
      },
      "error": {
        "color": "#{{ $p.text }}",
        "background_color": "#{{ $p.red }}"
      },
      "comment": {
        "color": "#{{ $p.overlay0 }}"
      },
      "comment_preproc": {
        "color": "#{{ $p.blue }}"
      },
      "keyword": {
        "color": "#{{ $p.mauve }}"
      },
      "keyword_reserved": {
        "color": "#{{ $p.mauve }}"
      },
      "keyword_namespace": {
        "color": "#{{ $p.yellow }}"
      },
      "keyword_type": {
        "color": "#{{ $p.yellow }}"
      },
      "operator": {
        "color": "#{{ $p.sky }}"
      },
      "punctuation": {
        "color": "#{{ $p.overlay2 }}"
      },
      "name": {
        "color": "#{{ $p.lavender }}"
      },
      "name_builtin": {
        "color": "#{{ $p.peach }}"
      },
      "name_tag": {
        "color": "#{{ $p.mauve }}"
      },
      "name_attribute": {
        "color": "#{{ $p.yellow }}"
      },
      "name_class": {
        "color": "#{{ $p.yellow }}"
      },
      "name_constant": {
        "color": "#{{ $p.yellow }}"
      },
      "name_decorator": {
        "color": "#{{ $p.pink }}"
      },
      "name_exception": {},
      "name_function": {
        "color": "#{{ $p.blue }}"
      },
      "name_other": {},
      "literal": {},
      "literal_number": {
        "color": "#{{ $p.peach }}"
      },
      "literal_date": {},
      "literal_string": {
        "color": "#{{ $p.green }}"
      },
      "literal_string_escape": {
        "color": "#{{ $p.pink }}"
      },
      "generic_deleted": {
        "color": "#{{ $p.red }}"
      },
      "generic_emph": {
        "color": "#{{ $p.text }}",
        "italic": true
      },
      "generic_inserted": {
        "color": "#{{ $p.green }}"
      },
      "generic_strong": {
        "color": "#{{ $p.text }}",
        "bold": true
      },
      "generic_subheading": {
        "color": "#{{ $p.sky }}"
      },
      "background": {
        "background_color": "#{{ $p.mantle }}"
      }
    }
  },
  "table": {
    "center_separator": "┼",
    "column_separator": "│",
    "row_separator": "─"
  },
  "definition_list": {},
  "definition_term": {},
  "definition_description": {
    "block_prefix": "\n🠶 "
  },
  "html_block": {},
  "html_span": {}
}
